/* "general" css */

:root {
    --softRadius: 22px;
    --roughRadius: 16px;
    --backgroundColor: white;
    --shadowColor: rgb(220,220,220);
    --activeColor: rgb(235,236,236);
    --selectedColor: rgb(254,239,195);
    --darkColor: rgb(32,33,36);
    --darkerColor: rgb(70,70,70);
    --itemBoxShadow: -3px -3px 5px var(--shadowColor), 3px 3px 5px var(--shadowColor);
    --boxShadowDown: inset 1px 1px 1px var(--shadowColor);
}

body {
    margin: 0;
    font-family: 'Orbitron', 'Russo One', 'Press Start 2P', cursive, sans-serif;
}

#logsContainer {
    display: grid;
    grid-template-rows: 7rem;
    grid-template-areas:
    'hd'
    'nv'
    'mn'
}

#aboutContainer {
    display: grid;
    grid-template-rows: 7rem;
    grid-template-areas:
    'hd'
    'mn'
}

#roadmapContainer {
    display: grid;
    grid-template-rows: 7rem;
    grid-template-areas:
    'hd'
    'mn'
}

#mediaContainer {
    display: grid;
    grid-template-rows: 7rem;
    grid-template-areas: 
    'hd'
    'mn'
}

#logsMain, #roadmapMain, #mediaMain, #aboutUsMain {
    grid-area: mn;
    background: var(--backgroundColor);
    box-shadow: var(--boxShadowDown);
}

/* top Nav section css */

#websiteHeader {
    grid-area: hd;
    background: var(--backgroundColor);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navLogo {
    width: 5rem;
}

#buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

.pageButtonLink {
    text-decoration: none;
    color: var(--darkColor);
}

.pageButton {
    background-color: var(--backgroundColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--softRadius);
}

.buttonText {
    font-size: large;
    margin: 10px 20px;
}

.pageButtonLink:hover .pageButton {
    background: var(--activeColor);
}

/* Hambuger menu */

#menuButton {
    display: none;
}

#hamburgerMenu {
    display: none;
}

#hamburgerMenu.show {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.menuPageButton {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: 500;
}

#closeButton {
    position: fixed;
    cursor: pointer;
    top: inherit;
    right: 5vw;
}

#closeIcon {
    color: white;
    font-size: 2rem;
}

@media screen and (max-width: 800px) {
    #menuIcon {
        font-size: 2rem;
    }

    #menuButton {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 5vw;
    }

    .pageButtonLink, .pageButton, .buttonText, .buttonsContainer {
        display: none;
    }

    #websiteHeader {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/* Search bar */

#searchNav {
    grid-area: nv;
    background: var(--backgroundColor);
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 1rem 2rem;
}

#searchButton {
    border: none;
    background-color: var(--backgroundColor);
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--softRadius);
    margin-right: 12px;
    cursor: pointer;
}

#searchButton:hover {
    background: var(--activeColor);
}

#searchIcon {
    color: var(--darkerColor);
    width: 1.5rem;
}

.inputContainer {
    width: 100%;
    border-radius: var(--roughRadius);
    overflow: hidden;
}

#searchBar {
    text-decoration: none;
    background-color: var(--activeColor);
    padding: 1rem 2rem;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: var(--darkerColor);
    transition: all 240ms ease-out;
    width: 100%;
}

#searchBar::placeholder {
    color: var(--darkerColor);
}

#searchBar:focus {
    outline: none;
    color: var(--darkColor);
}

/* Logs masonry */

.masonry {
    display: flex;
    gap: 0.5rem;
    padding: 10px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.masonryItem {
    position: relative;
    width: 95%;
    background-color: var(--backgroundColor);
    border-radius: var(--roughRadius);
    box-shadow: var(--itemBoxShadow);
}

.articleImgDiv {
    margin: 5px;
}

.articleImg {
    width: 100%;
    border-radius: var(--roughRadius);
}

.articleText {
    gap: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
}

.articleTitle {
    margin: 0;
    font-size: large;
}

.articleContent {
    margin: 0;
    font-size: medium;
}

.articleCategories, .articleDate {
    margin: 0;
    font-size: smaller;
    color: rgb(88, 88, 88);
}

/* Media css */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: var(--roughRadius);

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.overlayText {
    color: white;
}

.masonryItem:hover .overlay {
    opacity: 0.7;
    cursor: pointer;
}

/* Roadmap css */

#roadmapMain {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    'bar txt'
}

#roadmapTextSection {
    grid-area: txt;
}

.roadmapList {
    line-height: 250%;
}

.listEntry {
    display: none;
}

.listEntry.show {
    display: list-item
}

.sidebar {
    grid-area: bar;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.sidebarButton {
    border: 0;
    background-color: var(--backgroundColor);
    border-radius: var(--softRadius);
    display: flex;
}

.sidebarButton:hover {
    background-color: var(--activeColor);
    cursor: pointer;
}

.sidebarButton.selected {
    background-color: var(--selectedColor);
}

.buttonText {
    font-family: 'Orbitron', 'Russo One', 'Press Start 2P', cursive, sans-serif;
    display: block;
}

@media screen and (max-width: 800px) {
    #roadmapMain {
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        'bar'
        'txt'
    }

    .sidebar, .sidebarButton, .buttonText {
        width: 100%;
    }

    .sidebarButton:hover {
        background-color: var(--backgroundColor);
        cursor: pointer;
    }
}

/* About us css */

#topArticle {
    box-shadow: var(--boxShadowDown);
}

.leftArticle, .rightArticle {
    background: var(--backgroundColor);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage {
    width: 35vw;
    margin: 1rem;
    border-radius: var(--roughRadius);
}

@media screen and (max-width: 800px) {
    .aboutImage {
        width: 90vw;
    }
    
    .leftArticle {
        flex-direction: column;
    }
    
    .rightArticle {
        flex-direction: column-reverse;
    }
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

.aboutBodyText {
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 150%;
}

.fancyText {
    font-family: 'Monoton';
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 2rem;
    color: black;
    font-weight: 400;
}
